*{
    margin:0;
    padding:0;
    list-style: none;
}

@font-face {
    font-family: 'iconfont';  /* project id 591520 */
    src: url('//at.alicdn.com/t/font_591520_z55qz1htnvjcerk9.eot');
    src: url('//at.alicdn.com/t/font_591520_z55qz1htnvjcerk9.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_591520_z55qz1htnvjcerk9.woff') format('woff'),
    url('//at.alicdn.com/t/font_591520_z55qz1htnvjcerk9.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_591520_z55qz1htnvjcerk9.svg#iconfont') format('svg');
}

i{
    font-style: normal;
}

a{
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
    padding-bottom: 1rem;
}


/*头部开始*/
header{
    width: 100%;
    padding: 0.47rem 0.31rem 0.7rem;
    box-sizing: border-box;
}
header > h1{
    font-size: 0.43rem;
    color: #000;
}
header > p{
    font-size: 0.22rem;
    color: #8c8c8c;
    margin-top: 0.4rem;
}
/*头部结束*/

/*引言开始*/
.introduction{
    padding: 0 0.54rem;
    width: 100%;
    box-sizing: border-box;
}
.introductionBox{
    width: 100%;
    background: #f8f8f8;
    padding: 0.8rem;
    box-sizing: border-box;
    border-radius: 0.1rem;
}
.introductionBox > p{
    font-size: 0.26rem;
    color: #737373;
}
/*引言结束*/

/*正文开始*/
.main{
    padding: 0.8rem 0.54rem 0;
    width: 100%;
    box-sizing: border-box;
}
.main > p{
    padding-bottom: 0.5rem;
    line-height: 0.5rem;
    font-size: 0.26rem;
    color: #3e3e3e;
}
.main > img {
    width: 100%;
    padding-bottom: 0.5rem;
}
/*正文结束*/

/*底部开始*/
footer{
    width: 100%;
    height: 1rem;
    padding: 0 0.55rem;
    border-top: 0.01rem solid #ebf0f2;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    bottom: 0;
    background: #fff;
}
.return{
    height: 100%;
}
.return > a{
    height: 100%;
    display: flex;
    align-items: center;
}
.returnIcon{
    font-family: iconfont;
    font-size: 0.5rem;
    color: #cccccc;
}
.footerRight{
    height: 100%;
    width: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.iconBox{
    height: 100%;
}
.iconBox > a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.listIcon{
    font-size: 0.4rem;
    color: #ccc;
    font-family: iconfont;
}
.iconBox > a > span{
    font-size: 0.2rem;
    color: #ccc;
}
/*底部结束*/